.wrapper {
  width: 100%;
  background-color: var(--color-ui-base);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-radius: var(--radius);
  margin-bottom: 1.5rem;
  box-shadow: var(--shadow);

  @media (min-width: 767px) {
    margin-bottom: 0;
    width: 280px;
  }

  input {
    width: 100%;
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: var(--color-ui-base);
    color: var(--color-text);
  }
}
