@import '../../styles/mixins.scss';

.button {
  border-radius: var(--radius);
  background-color: var(--color-ui-base);
  color: var(--color-text);
  border: none;
  padding: 0 1rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  line-height: 2.5;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
